html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0;
	color: #004932;
	background: #0B6E4F;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	background-color: #0B6E4F;
}
::-webkit-scrollbar-thumb {
	background-color: #004932;
	width: 8px;
	border-radius: 7px;
}
/*::-webkit-scrollbar {
	width: 14px;
	height: 14px;
	background: #0B6E4F;
}*/
header {
	text-align: center;
}
#head {
	position: relative;
	margin-top: 30px;
	z-index: 100000;
	background: #0B6E4F;
}
#head li {
	position: relative;
	background-size: 44px;
	width: 44px;
	height: 40px;
	margin-left: 10px;
}
#head li a {
	display: block;
	height: 100%;
}
#head li:hover {
	background-position-y: -40px;
}
#head img {
	margin-left: 5px;
}
#menu-photo {
	background: url('../img/menu-photo.jpg') 0 0 no-repeat;
}
#menu-gal {
	background: url('../img/menu-gal.jpg') 0 0 no-repeat;
}
.inline-block {
	display: inline-block;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
li {
	display: inline-block;
}
.align-center {
	text-align: center;
}
.container {
	max-width: 1270px;
	min-width: 940px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}
.content {
	text-align: left;
	width: 640px;
	padding: 0;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 auto;
}
.side {
	display: inline-block;
	padding: 0 15px;
	width: 150px;
	box-sizing: border-box;
	vertical-align: top;
	position: relative;
	z-index: 10000;
	background: #0B6E4F;
	height: 555px;
}

.side-left {
	text-align: right;	
}
.side-right {
	text-align: left;	
}
.side ul 
{
	height: 535px;
	overflow-y: auto;
}
.gr-bg {
	background: #0B6E4F;
	position: relative;
	z-index: 10000;
}
a { color: #06B17C; text-decoration: none; }
a:hover { color: #C2EABD; }
form {
	display: block;
	max-width: 300px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
}
form input {
	font-family: 'Raleway', sans-serif;
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 8px;
	box-sizing: border-box;
	border-radius: 2px;
	border: none;
	padding: 5px;
	font-size: 14px;
}
form#login {
	margin-top: 10px;
}
input[type=submit] {
	border: none;
	background: #06B17C;
	color: #004932;
	border-radius: 5px;
	cursor: pointer;
}
input[type=submit]:hover {
	background: #C2EABD;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	color: #004932;
}
.alert {
	width: 100%;
	height: 30px;
	text-align: center;
}
.alert-danger {
	background: red;
}
.alert-success {
	background: green;
}

/* CAMERA */

#cam { position: relative; text-align: center;}
#btn-cam {
	background: #004932;
	padding: 10px 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: -5px;
	border: 5px solid #004932;
	box-sizing: border-box;
}
video {
	border: 5px solid #004932; 
	box-sizing: border-box;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin: 0 auto;
	display: block;
	z-index: 10 !important;
}
#clear { 
	width: 30px;
	height: 30px;
	font-size: 20px;
	border-radius: 15px;
	border: none;
	background: #721817;
	cursor: pointer;
}
#take-photo {
	width: 60px;
	height: 60px;
	font-size: 20px;
	border-radius: 30px;
	background: #003a28;
	border: none;
	cursor: pointer;
}
button:focus {outline: 0}
.img-add, .frame-add { width: 100%; cursor: pointer; }
#prev-img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#load-img { 
	display: none; 
	position: absolute;
	top: 0;
	left: 0;
}
nav {
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	right: 10px;
	font-size: 1.2em;
}
nav li a {
	text-decoration: none;
}

#galery {
	color: white;
	margin: 0 auto;
	text-align: center;
}
#galery ul {
	display: inline-block;
	margin: 20px auto;
	text-align: left;
}
#galery li {
	width: 25%;
	padding: 2px;
	box-sizing: border-box;
}
#side-galery li {
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
}
.gal-img {
	border-radius: 5px;
	width: 100%;
}
.page-num {
	display: inline-block;
	background: #004932;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin: 2px;
	text-decoration: none;
	color: #06B17C;
	line-height: 30px;
}

.page-num-current { background: #06B17C; color: #004932;}

#new-comment {
	width: 100%;
	max-width: 100%;
	height: 60px;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	color: #003a28;
}

#del-btn {
	border: none;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	background: #721817;
	text-align: center;
	color: black;
}

#footer {
	margin-top: 50px;
	border-top: 1px solid #004932;
}

#prev-img, #frame-vid, .img-border {
	border-radius: 5px;
}

#frame-vid, .img-border {
	border: 5px solid #004932;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-sizing: border-box;
	width: 640px;
}
