html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0;
	color: #465362;
	background: #011936;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding-left: 0;
}
li {
	display: inline-block;
}
.align-center {
	text-align: center;
}
a { color: #C2EABD; }
a:hover { color: #C2EABD; }
form {
	display: block;
	max-width: 450px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid grey;
	padding: 10px;
	box-sizing: border-box;
}
form input {
	font-family: 'Raleway', sans-serif;
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 8px;
	box-sizing: border-box;
	border-radius: 2px;
	border: none;
	padding: 5px;
}
form#login {
	margin-top: 100px;
}
input[type=submit] {
	border: none;
	background: #C2EABD;
	font-weight: bold;
}
h2 {
	color: #F9DC5C;
	border-bottom: 2px solid #F9DC5C;
}
.alert {
	width: 100%;
	height: 30px;
	text-align: center;
}
.alert-danger {
	background: red;
}
.alert-success {
	background: green;
}

/* CAMERA */

#cam { position: relative; text-align: center;}
video {
	border-radius: 5px;
	margin: 0 auto;
	display: block;
	z-index: 10 !important;
}
#cam button { 
	width: 60px;
	height: 60px;
	font-size: 20px;
	border-radius: 30px;
	margin-top: 10px;
	z-index: 10000 !important;
}
.img-add, .frame-add { width: 50%; }

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
.content {
	padding: 0 15px;
	display: inline-block;
	width: 70%;
	box-sizing: border-box;
}
.side {
	display: inline-block;
	padding: 0 15px;
	width: 30%;
	box-sizing: border-box;
	vertical-align: top;
}
nav {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid grey;
	box-sizing: border-box;
}
nav li a {
	text-decoration: none;
}
nav li#logout {
	position: absolute;
	right: 10px;
}

#galery {
	color: white;
	margin: 0 auto;;
	text-align: center;
}
#galery ul {
	display: inline-block;
	margin: 20px auto;
	text-align: left;
}
#galery li {
	width: 25%;
	padding: 2px;
	box-sizing: border-box;
}
.gal-img {
	border-radius: 5px;
	width: 100%;
}
.page-num {
	display: inline-block;
	background: #465362;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 2px;
	text-decoration: none;
	color: white;
	line-height: 35px;
}

.page-num-current { background: #ED254E; }
