html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding-left: 0;
}
li {
	display: inline-block;
}
.align-center {
	text-align: center;
}

form {
	display: block;
	max-width: 450px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid grey;
	padding: 10px;
	box-sizing: border-box;
}
form input {
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 8px;
	box-sizing: border-box;
	border-radius: 2px;
}
form#login {
	margin-top: 100px;
}

.alert {
	width: 100%;
	height: 30px;
	text-align: center;
}
.alert-danger {
	background: red;
}
.alert-success {
	background: green;
}

.container {
	max-width: 1270px;
	background: #011936;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

nav {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid grey;
	box-sizing: border-box;
}
nav li a {
	text-decoration: none;
}
nav li#logout {
	position: absolute;
	right: 10px;
}

#galery {
	color: white;
	margin: 0 auto;;
	background: black;
	text-align: center;
}
#galery ul {
	display: inline-block;
	text-align: left;
}
#galery li {
	width: 30%;
	margin: 3px;
}
.gal-img {
	border-radius: 5px;
	width: 100%;
}
